<div class="fixed inset-0 z-20 bg-black backdrop-blur-sm bg-opacity-25 grid place-items-center">
    <div class="bg-white w-full max-w-lg px-20 py-12 rounded-md">

        <h1 class="text-3xl text-center mb-6">Add An Item</h1>

        <form class="" (ngSubmit)="form.valid && onSubmit()" (reset)="close()" #form="ngForm">
            <div class="space-y-4">
                <div class="form-control">
                    <label for="item_name" class="label">
                        <span class="label-text">Item Name</span>
                    </label>
                    <input type="text" name="item_name" id="item_name" class="input input-bordered"
                        [(ngModel)]="item.item_name" required>
                </div>

                <div class="form-control">
                    <label for="quantity" class="label">
                        <span class="label-text">Quantity</span>
                    </label>
                    <input type="number" name="quantity" id="quantity" class="input input-bordered"
                        [(ngModel)]="item.quantity" required>
                </div>

                <div class="form-control">
                    <label for="cost" class="label">
                        <span class="label-text">Cost</span>
                    </label>
                    <input type="number" name="cost" id="cost" class="input input-bordered" [(ngModel)]="item.cost"
                        required>
                </div>
            </div>

            <div class="mt-8 flex items-center gap-2">
                <button class="btn btn-block btn-primary flex-1" type="submit" [disabled]="!form.valid">
                    Add
                </button>
                <button class="btn btn-link text-black hover:text-error" type="reset">Cancel</button>
            </div>
        </form>

    </div>
</div>